@import "reset.css";

body {
  font-family: "Titillium Web", sans-serif;
}
.wrapper {
  max-width: 1140px;
  width: calc(100% - 40px);
  margin: 0 auto;
}
.top__line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 150px;
}
header {
  background: #87509c;
}
.header__nav {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
}
.header__nav a {
  text-decoration: none;
  color: inherit;
}
.header__nav ul {
  display: flex;
}
.header__nav ul li {
  padding-left: 15px;
  padding-right: 15px;
  height: 30px;
  line-height: 30px;
  transition: background 300ms ease-in-out;
  margin: 0 1px;
}
.header__nav ul li.active {
  background: #643a79;
  border-radius: 3px;
}
.header__nav ul li:hover {
  background: #643a79;
  border-radius: 3px;
  transition: background 300ms ease-in-out;
}
.bottom__line {
  text-align: center;
  padding-top: 85px;
  padding-bottom: 145px;
}
.bottom__line p {
  font-size: 42px;
  line-height: 48px;
  color: #f7f3ea;
  font-weight: 700;
  margin-bottom: 50px;
}
.botton {
  display: inline-block;
  padding-left: 80px;
  padding-right: 80px;
  background: #eb7d4b;
  height: 65px;
  line-height: 65px;
  font-size: 18px;
  letter-spacing: 0.02em;
  border-radius: 3px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  border-bottom: 4px solid #c86a40;
  transition: background 300ms ease-in-out;
}
.botton:hover {
  background: #c86a40;
  transition: background 300ms ease-in-out;
}
section.services {
  background: #17c2a4;
  padding: 120px 0;
  text-align: center;
}
section.services h2 {
  font-size: 40px;
  line-height: 1;
  color: #ffffff;
  letter-spacing: 0.1em;
  font-weight: 700;
  margin-bottom: 25px;
  padding-bottom: 25px;
  position: relative;
}
section.services h2:after {
  content: "";
  display: block;
  width: 86px;
  height: 4px;
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 50%;
  margin-left: -43px;
  bottom: 0;
}
section.services .description {
  font-size: 18px;
  line-height: 24px;
  color: #f5f6f9;
  letter-spacing: 0.02em;
  font-weight: 400;
  margin-bottom: 70px;
}
section.services .services__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
section.services .services__list .services__item {
  width: calc(25% - 15px);
}
section.services .services__list .services__item .img {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
section.services .services__list .services__item .item__title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
section.services .services__list .services__item .item__description {
  color: #eaf7f4;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.02em;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}
section.contact {
  background: #3c5499;
  padding: 120px 0;
  text-align: center;
}
section.contact h2 {
  font-size: 40px;
  line-height: 1;
  color: #ffffff;
  letter-spacing: 0.1em;
  font-weight: 700;
  margin-bottom: 25px;
  padding-bottom: 25px;
  position: relative;
}
section.contact h2:after {
  content: "";
  display: block;
  width: 86px;
  height: 4px;
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 50%;
  margin-left: -43px;
  bottom: 0;
}
section.contact .description {
  font-size: 18px;
  line-height: 24px;
  color: #f5f6f9;
  letter-spacing: 0.02em;
  font-weight: 400;
  margin-bottom: 70px;
}
section.contact .contact__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 856px;
  margin: 0 auto;
}
section.contact .contact__form input[type="text"],
section.contact .contact__form input[type="email"] {
  width: calc(50% - 16px);
  margin-bottom: 25px;
  box-sizing: border-box;
  background: #273a71;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding-left: 23px;
  height: 56px;
  line-height: 56px;
  font-size: 18px;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffffff;
  font-size: 18px;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
  font-size: 18px;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffffff;
  font-size: 18px;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
  font-size: 18px;
}

section.contact .contact__form textarea {
  width: 100%;
  margin-bottom: 60px;
  background: #273a71;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding-left: 23px;
  height: 200px;
  line-height: 56px;
  font-size: 18px;
}
section.contact .contact__form .submit {
  width: 100%;
  text-align: center;
}
section.contact .contact__form input[type="submit"] {
  display: inline-block;
  background: #30bae7;
  color: #ffffff;
  border: none;
  font-size: 18px;
  padding-left: 85px;
  padding-right: 83px;
  height: 65px;
  line-height: 65px;
  font-size: 18px;
  letter-spacing: 0.02em;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 600;
  border-bottom: 4px solid#299ec5;
  transition: background 300ms ease-in-out;
}
section.contact .contact__form input[type="submit"]:hover {
  background: #299ec5;
  transition: background 300ms ease-in-out;
}
footer.footer {
  min-height: 110px;
  background: #344b8e;
}
.footer_social {
  font-size: 24px;
  letter-spacing: 0.02em;
  font-weight: 600;
  color: #ffffff;
}
.footer_social ul {
  min-height: 110px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer.footer a {
  text-decoration: none;
  color: inherit;
}
footer.footer a:hover {
  color: #30bae7;
}
@media (max-width: 855px){
  section.contact .contact__form {
    min-width: 0;
}
@media (max-width: 660px){
  .logo{
    margin-top: 20px;
  }
  .top__line {
    flex-direction: column;
  }
  .header__nav {
    font-size: 12px;
    line-height: 16px;
  }
  .bottom__line p {
    font-size: 32px;
    line-height: 38px;
  }
  section.services h2, 
  section.contact h2 {
    font-size: 32px;
  }
  section.services .services__list {
    align-items: center;
    flex-direction: column;
  }
  section.services .services__list .services__item {
    width: 70%;
  }
  section.services .services__list .services__item .img {
    margin-top: 50px;
    margin-bottom: 10px;
  }
  section.contact .description {
    font-size: 16px;
    margin-bottom: 40px;
  }
  section.contact .contact__form {
    min-width: 0;
  }
  .footer_social ul {
    min-height: 90px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer.footer a {
   display: inline-block;
   margin: 10px;
  }